<!-- /**
*
* Al Lestaire Acasio
* Date Modified : 7-26-2015 1:48 PM
*/
 -->

<!DOCTYPE html>
<html lang="en" ng-app="calulatorApp">
<head>
	<meta charset="UTF-8">
	<title>Calc</title>
	<link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<section ng-controller="calculatorController">
		<!-- <input type="text" ng-model="totalValue"> -->
		<div class="group">
			<input type="text" id="num" value=0 readonly="" ng-model="totalValue">
		</div>
		<table >
			<tr ng-repeat="tRow in tableRow">
				<td ng-repeat="tdata in tRow.row" rowspan="{{tdata.row}}"  colspan="{{tdata.col}}">
					<button style="{{tdata.style}}" ng-click="numberBtn(tdata.id)">{{tdata.text}}</button>
				</td>
			</tr>
		</table>
	</section>
	<script type="text/javascript" src="vendor/angular.min.js"></script>
	<script type="text/javascript" src="vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/controller.js"></script>
	<script type="text/javascript" src="js/filter/format-sign.js"></script>
	<script type="text/javascript" src="js/filter/operation.js"></script>
	<script type="text/javascript" src="js/filter/equation.js"></script>
	<script type="text/javascript" src="js/filter/change-sign.js"></script>
	<script type="text/javascript" src="js/services/services.js"></script>

	
</body>
</html>