/**
*
* Author: Al Lestaire G. Acasio
* Date updated : 7-19-2015 11:10 AM
*
*/

body {
	font-family: 'Segoe UI Symbol', 'Tahoma', 'San Serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
section,
header,
ul,
li,
button,
form,
select{
	width: auto;
	padding: 0px;
	margin: 0px;
	border: none;
}

a {
	text-decoration: none;
}

a.active {
	font-weight: bolder;
	color: black !important;
}

input[type=text],
input[type=password],
select,
textarea {
	border: 3px solid rgba(127,127,127,.4);
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
	border: 3px solid rgba(30,144,255,.6);
}


select {
	cursor: pointer;
	text-transform: capitalize;
}

button {
	text-align: center;
	cursor: pointer;
}

select option {
	text-transform: capitalize;
}