/**
*
* Author: Al Lestaire G. Acasio
* Date updated : 7-19-2015 11:10 AM
*
*/

section.login-section {
	width: 50%;
	border: 2px solid rgba(127,127,127,1);
	margin: 50px auto 0px auto;
	border-radius: 15px;
}

section.login-section h1 {
	color: white;
	padding: 15px;
	text-align: center;
	background-color: rgba(127,127,127,1);
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

form.login-form {
	margin: 0 auto 0 auto;
	width: 80%;
	padding: 5px;
}

.fb-btn {
	top: 7px;
	font-weight: bolder;
	font-size: 33px;
	padding: 0px !important;
	width: 50px !important;
}

.fb-btn:active {
	top: 10px !important;
}