/**
*
* Author: Al Lestaire G. Acasio
* Date updated : 7-19-2015 11:10 AM
*
*/

header.upper-nav {
	background-color: rgb(195,195,195);
	padding: 10px;
}

header.upper-nav h1, header.upper-nav a {
	text-transform: uppercase;
	color: white;
}

header.upper-nav h1 > span:first-child {
	color: rgb(178, 34, 34);
}

header.upper-nav h1 > span:last-child {
	color: rgb(65, 105, 225);
}

header.upper-nav li {
	display: inline;
}

header.upper-nav h1, header.upper-nav nav, header.upper-nav ul {
	display: inline;
}

header.upper-nav ul {
	float: right;
	padding: 10px;
}

header.upper-nav li {
	border-right: 1px solid white;
	padding: 0 10px;
}

header.upper-nav li:last-child {
	border-right: none;
}


section.spaces-content {
	margin: 10px 50px auto 50px;
}

section.spaces-content header {
	padding: 5px;
	position: relative;
}

section.spaces {
	margin: 20px auto;
}

section.spaces div {
	width: 196px;
	height: 250px;
	border: 5px solid rgba(127,127,127,1);
	margin: 3px;
	display: inline-block;
}

section.spaces div > img, section.spaces div > h4 {
	padding: 5px;
}

section.spaces a {
	color: rgba(127,127,127,1);
}

form.search-group {
	display: inline;
	width: auto;
	background-color: rgba(127,127,127,.2);
	padding: 7px;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 5px;
}

form.search-group button {
	padding: 6px 10px;
	text-transform: uppercase;
	color: white;
	position: relative;
	left: -5px;
	cursor: pointer;
	background-color: red;
}

form.search-group button:active {
	opacity: .4;
}

form.search-group input {
	padding: 5px 10px;
	width: 200px;
	background-color: rgba(105,105,105,.2);
}

form.search-group input:focus {
	background-color: white;
	border: 2px solid #696969;
}


div.form-group {
	padding: 10px;
	margin: 5px 0px;
}

div.form-group input,
div.form-group textarea,
div.form-group .group {
	float: right;
	padding: 5px;
	border-radius: 3px;
	width: 50%;
}

div.form-group select {
    float: right;
    padding: 5px;
    border-radius: 3px;
    width: 53.5%;
}

div.input-group {
	position: relative;
	width: auto;
	padding: 0px 5px 0 0;
}

div.input-group input {
	float: none;
	width: auto;
}

div.input-group span.add-on {
	padding: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div.form-group label {
	text-transform: uppercase;
}

.width-small {
	width: 25%;
}

.width-medium {
	width: 50%;
}

.width-large {
	width: 80%;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

button.btn {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	position: relative;
}

button.btn-danger {
	background-image: linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -o-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(179,11,11)),color-stop(1, rgb(188,69,69)));
    -webkit-box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 10px 5px #999;
}

button.btn-danger:active {
    top: 3px;
	background-image: linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -o-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(236,111,96)),color-stop(1, rgb(212,81,66)));
	-webkit-box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 5px 3px #999;
}

button.btn-default {
	background-image: linear-gradient(bottom, rgb(0,0,205) 0%, rgb(65,105,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,205) 0%, rgb(65,105,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,205) 0%, rgb(65,105,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,205) 0%, rgb(65,105,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,205) 0%, rgb(65,105,255) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,0,205)),color-stop(1, rgb(65,105,255)));
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

button.btn-default:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(62,184,229)),color-stop(1, rgb(44,160,202)));
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

button.btn-success {
    background-image: linear-gradient(bottom, rgb(46,139,87) 0%, rgb(50,205,50) 100%);
    background-image: -o-linear-gradient(bottom, rgb(46,139,87) 0%, rgb(50,205,50) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(46,139,87) 0%, rgb(50,205,50) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(46,139,87) 0%, rgb(50,205,50) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(46,139,87) 0%, rgb(50,205,50) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(50,205,50)),color-stop(1,rgb(46,139,87))); 
    -webkit-box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 5px 0px 0px rgb(31,182,31), 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 5px 0px 0px rgb(31,182,31), 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 5px 0px 0px rgb(31,182,31), 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 5px 0px 0px rgb(31,182,31), 0px 10px 5px #999;
}

button.btn-success:active {
    top: 3px;
	background-image: linear-gradient(bottom, rgb(50,205,50) 0%, rgb(31,182,31) 100%);
	background-image: -o-linear-gradient(bottom, rgb(50,205,50) 0%, rgb(31,182,31) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(50,205,50) 0%, rgb(31,182,31) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(50,205,50) 0%, rgb(31,182,31) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(50,205,50) 0%, rgb(31,182,31) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(50,205,50)),color-stop(1,rgb(31,182,31)));
    -webkit-box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 2px 0px 0px rgb(31,182,31), 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 2px 0px 0px rgb(31,182,31), 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 2px 0px 0px rgb(31,182,31), 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px rgb(50,205,50), 0px 2px 0px 0px rgb(31,182,31), 0px 5px 3px #999;
}


div.btn-group {
	width: auto;
	background-color: white;
	position: relative;
}

div.btn-group button {
	color: white;
	position: relative;
	padding: 10px;
	width: auto;
	border-radius: 0;
	margin: 0 -2px 0 -2px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

div.btn-group button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.btn-group button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}