<!DOCTYPE html>
<html lang="en" ng-app="RENSTING-SYSTEM">
<head>
	<meta charset="UTF-8">
	<title>RENTAL SYSTEM</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/repeat-animation.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
	<section class="container">
	
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/home">RENTAL SYSTEM</a>

			</div>
			<div class="navbar-collapse collapse navbar-right" ng-controller="NavigationController">
				<ul ng-hide="hasAccount" class="nav navbar-nav">
					<li ng-repeat="main in mainNav" ng-class="{'active': getClass(main.link)}">
						<a ng-href="#{{main.link}}">
							<i class="glyphicon {{main.icon}}"></i> {{main.text}}
						</a>
					</li>
				</ul>

				<ul ng-hide="!hasAccount" class="nav navbar-nav">
					<li ng-repeat="login in loginNav" ng-class="{'active': getClass(login.link)}">
						<a ng-href="#{{login.link}}">
							<i class="glyphicon {{}login.icon}"></i>&nbsp;{{login.text}}
						</a>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							{{ownerName}} &nbsp;<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="button"><a ng-href="#/account-info">Personal Information</a></li>
							<li><a ng-href="#/settings">Account Settings</a></li>
							<li class="divider"></li>
							<li><a role="button" ng-click="logout()">logout</a></li>
						</ul>
					</li>
				</ul>
			</div>	
		</nav>
	
		<section class="view-container">
			<article ng-view="" class="view-frame"></article>
		</section>
	</section>

	<!-- VENDOR -->
	<script type="text/javascript" src="vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="vendor/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="vendor/angular/angular-animate.js"></script>
	<script type="text/javascript" src="vendor/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- APPLICATION -->
	<script type="text/javascript" src="app/app.js"></script>
	<!-- CONTROLLERS -->
	<script type="text/javascript" src="app/controller/default.js"></script>
	<script type="text/javascript" src="app/controller/controllers.js"></script>
	<!-- SERVICES -->
	<script type="text/javascript" src="app/services/service.js"></script>
	<script type="text/javascript" src="app/services/filter.js"></script>
	<script type="text/javascript" src="app/services/directive.js"></script>

</body>
</html>