/**
 * Author : Al Lestaire Acasio
 * Date Modefied : 7-27-2015 12:09 PM
 * 
 */

body {
	font-family: monospace;
}

body,
p1,
input,
h1,
h2,
h3,
h4,
h5,
h6,
span,
section,
div,
form {
	margin: 0;
	padding: 0;
}