<!-- /**
* Author: Al Lestaire Acasio
* Date Modefied: 7-27-2015 2:15 PM
*/ -->

<div>
	<h2>View 2</h2>
	City:
	<br />
	<input type="text" data-ng-model="city">
	<br />
	<ul>
		<li data-ng-repeat="cust in customers | filter: city | orderBy: 'city'">
			{{ cust.name }} - {{ cust.city }}
		</li>
	</ul>
</div>