.round {
	height: 285px;
	width: 288px;
	background-color: #C44B4B;
	border-radius: 174px
}

.round h1 {
	top: 26%;
	position: relative;
	font-weight: bold;
	font-size: 5em;
	color: #FFFFFF
}

.round2 {
	height: 285px;
	width: 288px;
	background-color: #3C40D1;
	border-radius: 174px
}

.round2 h1 {
	top: 26%;
	position: relative;
	font-weight: bold;
	font-size: 5em;
	color: #FFFFFF
}