<section class="row">
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3 class="text-center">
			{{spaceInfo.title}}
		</h3>
	</article>
	<article class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
		<img src="{{spaceInfo.image}}" alt="{{spaceInfo.title}}" class="img-responsive center-block" >
	</article>
	<article class="col-xs-12 col-sm-6 col-md-8 col-lg-7">
		<p>Owned by: {{ spaceInfo.ownerID | filterOwnerIDbyName }}</p>
		<p ng-bind="spaceInfo.description"></p>
	</article>
</section>