<div class="jumbotron">
	<div id="slider" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#slider" data-slide-to="0" class="active"></li>
			<li data-target="#slider" data-slide-to="1"></li>
			<li data-target="#slider" data-slide-to="2"></li>
			<li data-target="#slider" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="img/img1.jpg" alt="slide 1" class="center-block image-responsive">
				<div class="carousel-caption">Slide One</div>
			</div>
			<div class="item">
				<img src="img/img1.jpg" alt="slide 2" class="center-block image-responsive">
				<div class="carousel-caption">Slide Two</div>
			</div>
			<div class="item">
				<img src="img/img1.jpg" alt="slide 3" class="center-block image-responsive">
				<div class="carousel-caption">Slide Three</div>
			</div>
			<div class="item">
				<img src="img/img2.jpg" alt="slide 4" class="center-block image-responsive">
				<div class="carousel-caption">IMage four</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="center-block round2">
			<h1 class="text-center">Rental is?</h1>
		</div>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur non est obcaecati, suscipit temporibus facere tempora placeat natus ducimus veniam at aut veritatis explicabo eveniet reiciendis pariatur sequi eaque minima!</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla atque laudantium, officiis obcaecati tempore sit dolorum minima, porro nam nobis eligendi provident voluptas reiciendis eaque praesentium a earum quibusdam! Numquam?</p>
	</div>
	<div class="col-sm-6">
		<div class="center-block round">
			<h1 class="text-center">What is this?</h1>
		</div>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eveniet nihil, explicabo, officiis aut itaque harum vel incidunt, provident earum rerum, mollitia blanditiis praesentium maiores? Harum repellat quaerat, amet non!</p> 
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nobis facilis voluptatibus, pariatur delectus odio nisi ad maxime iste debitis officiis, provident praesentium architecto, explicabo unde! Nostrum in, fuga similique.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam nesciunt impedit quod laudantium explicabo rerum velit repellat corporis, facilis voluptatum autem, sapiente incidunt quo ducimus, sequi libero. Veritatis, unde.</p>
	</div>
</div>
