<div class="row">
	<div class="hidden-xs col-sm-2 col-md-3"></div>
	<div class="col-sm-8 col-md-6 col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					<h3 class="text-center">Login</h3>
				</div>
			</div>
			<div class="panel-body">
				<h3 ng-bind="msg"></h3>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="username" class="col-sm-3 control-label">Username</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="username" ng-model="login.username">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="password" ng-model="login.password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9 ">
							<button ng-click="login()" class="btn btn-default">Sign in</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3"><a href="#/forgot-password">Forgot your password ?</a></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3"><a href="#/register">You dont have an account ? Click here to register</a></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="hidden-xs col-sm-2 col-md-3"></div>
</div>