<section class="row">
	<article class="col-md-1 col-lg-2"></article>
	<article class="col-md-10 col-lg-8">
		<div class="row">
			<article ng-repeat="rental in ownerRentals" class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
				<div class="thumbnail">
					<img src="{{rental.image}}" alt="{{rental.title}}" class="center-block image-responsive">
				</div>
				<a ng-href="#/space-detail/{{$index}}">
					<h3 class="visible-lg text-center" ng-bind="rental.title"></h3>
					<h4 class="visible-md text-center" ng-bind="rental.title"></h4>
					<h5 class="visible-sm text-center" ng-bind="rental.title"></h5>
					<h6 class="visible-xs text-center" ng-bind="rental.title"></h6>
				</a>
			</article>
		</div>
	</article>
	<article class="col-md-1 col-lg-2"></article>
</section>