<section class="row">
	<article class="hidden-xs col-sm-2 col-md-3 col-lg-2"></article>
	<article class="col-xs-12 col-sm-8 col-md-6 col-lg-7">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Registration</h3>
			</div>
			<div class="panel-body">
				<form name="signup_form"
						role="form"
						novalidate ng-submit="signupForm()"
						class="form-horizontal">
						<!-- FULL NAME -->
					<div class="form-group">
						<label
							for="fullname"
							class="col-sm-3 control-label">Full name</label>
						<div class="col-sm-9">
							<input
								type="text"
								ng-model="newAccount.fname"
								id="fullname"
								name="fname"
								class="form-control"
								required>
							<div ng-show="signup_form.fname.$dirty && signup_form.fname.$invalid && signup_form.submitted">
								<span class="help-block" ng-show="signup_form.fname.$error.required">Full name is required</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="rentalname" class="col-sm-3 control-label">Business Name</label>
						<div class="col-sm-9">
							<input type="text"
								ng-model="newAccount.business"
								name="rentalname"
								id="rental-name"
								class="form-control"
								required>
							<div ng-show="signup_form.rentalname.$dirty && signup_form.rentalname.$invalid && signup_form.submitted">
								<span class="help-block" ng-show="signup_form.rentalname.$error.required">Business name is required</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="female" class="col-sm-3 control-label">Gender</label>
						<div class="col-sm-9">
							<label class="checkbox-inline">
								<input id="female" name="gender" type="radio" ng-model="newAccount.gender" value="Female">
								Female
							</label>
							<label class="checkbox-inline">
								<input id="male" name="gender" type="radio" ng-model="newAccount.gender" value="Male">
								Male
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-3 control-label">E-mail Address</label>
						<div class="col-sm-9">
							<input id="email"
								name="email"
								type="email"
								ng-model="newAccount.email"
								class="form-control">
							<div ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.submitted">
								<span class="help-block" ng-show="signup_form.email.$error.email">Please input a valid E-email address</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="username" class="col-sm-3 control-label">Username</label>
						<div class="col-sm-9">
							<input id="username"
								name="username"
								type="text"
								ng-model="newAccount.username"
								class="form-control"
								ensure-unique="username"
								required>
							<div ng-show="signup_form.username.$dirty && signup_form.username.$invalid && signup_form.submitted">
								<span class="help-block" ng-show="signup_form.username.$error.required">Username is required</span>
								<span class="help-block" ng-show="signup_form.username.$error.unique">Sorry, This username was already taken</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input id="password"
									name="password"
									type="password"
									ng-model="newAccount.password"
									class="form-control"
									ng-minlength="8"
									required>

							<div ng-show="signup_form.password.$dirty && signup_form.password.$invalid && signup_form.submitted">
								<span ng-show="signup_form.password.$error.required">Password is required</span>
								<span ng-show="signup_form.password.$error.minlength">Password should be 8 and above character</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="confirm" class="col-sm-3 control-label">Re-type password</label>
						<div class="col-sm-9">
							<input id="confirm"
								type="password"
								name="confirm"
								ng-model="newAccount.confirmpass"
								class="form-control"
								ng-minlength="8"
								required>
							<div ng-show="signup_form.confirm.$dirty && signup_form.confirm.$invalid && signup_form.submitted">
							<span ng-show="signup_form.confirm.$error.required">Re-type password is requried</span>
							<span ng-show="signup_form.confirm.$error.minlength">Re-type password must be minimum of 8 characters</span>
							</div>
						</div>
					</div>
			
					<div class="col-sm-offset-3">
						<button tpye="submit" class="btn btn-primary btn-lg">Register</button>
					</div>
				</form>
			</div>
		</div>
	</article>
	<article class="hidden-xs col-sm-2 col-md-3 col-lg-4"></article>
</section>