<section class="row">
	<aside class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
		<nav>
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{'active': active($index)}" ng-repeat="category in listOfCategory">
					<a href="" ng-click="viewCategory($index)">{{category}}</a>
				</li>
			</ul>
		</nav>
	</aside>
	<section class="col-sm-9 col-md-9 col-lg-9">
		<form role="form" >
			<div class="input-group">
				<span class="input-group-btn hidden-sm hidden-md hidden-lg">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							Category
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-class="{'active': active($index)}" ng-repeat="category in listOfCategory">
								<a href="" ng-click="viewCategory($index)">{{category}}</a>
							</li>
						</ul>
					</div>
				</span>
				<input type="text" class="form-control" ng-model="searchText" placeholder="Search for available space">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary">
						<i class="glyphicon glyphicon-search"></i>&nbsp;
						<span class="hidden-xs">Search</span>
					</button>
				</span>
			</div>
		</form>
		<hr>
		<div class="row">
			<article ng-repeat="rent in rentals | filter:searchText | filterByCategory:activeCategory" class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
				<div class="thumbnail">
					<img src="{{rent.image}}" alt="{{rent.title}}">
				</div>
				<a ng-href="#/space-detail/{{$index}}">
					<h3 class="visible-lg">{{rent.title}}</h3>
					<h4 class="visible-md visible-sm">{{rent.title}}</h4>
					<h5 class="visible-xs">{{rent.title}}</h5>
				</a>
				<p>Owned by: {{ rent.ownerID | filterOwnerIDbyName }}</p>
			</article>
			
			<div class="col-sm-12 col-md-12 col-lg-12">
				<ul class="pagination pagination-sm pagination-lg">
					<li><a href="">&laquo;</a></li>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href="">&raquo;</a></li>
				</ul>
			</div>
		</div>
	</section>
</section>