/**
*
* Al Lestaire Acasio
* Date Modified : 7-26-2015 1:48 PM
*/


div.group {
	background-color: #FFFFFF;
	border-radius: 3px;
}

div.group span {
	display: block;
	text-align: right;
}

div.group span:first-child {
	font-size: 2em;
	overflow-x: scroll;
	direction: rtl;
}

div.group span:last-child {
	font-size: 3em;
}


section {
	width: 450px;
	padding: 10px;
	margin: 10px auto;
	background-color: #523B3B;
	border-radius: 5px;
	border: none;
}

table button {
	margin: 5px;
	width: 75.5px;
	border-style: none;
	padding: 14px;
	font-size: 1.5em;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	position: relative;
	background-image: linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -o-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(179,11,11) 0%, rgb(188,69,69) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(179,11,11)),color-stop(1, rgb(188,69,69)));
    -webkit-box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 0px 0px #999;
    -moz-box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 0px 0px #999;
    -o-box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 0px 0px #999;
    box-shadow: inset 0px 1px 0px rgb(212,81,66), 0px 5px 0px 0px rgb(236,111,96), 0px 0px 0px #999;
}

table button:active {
    top: 4px;
	background-image: linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -o-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(236,111,96) 0%, rgb(212,81,66) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(236,111,96)),color-stop(1, rgb(212,81,66)));
	-webkit-box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 0px 0px #999;
	-moz-box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 0px 0px #999;
	-o-box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 0px 0px #999;
	box-shadow: inset 0px 1px 0px rgb(188,69,69), 0px 2px 0px 0px rgb(179,11,11), 0px 0px 0px #999;
}

input#num {
	padding: 10px;
	width: 94%;
	font-size: 3em;
	border: none;
	direction: rtl;
	margin: 0px 3px;
}

input[type="text"]:focus,
input[type="text"]:active {
	border: none;
}